@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

body {
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-transform: uppercase;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 20px;
  letter-spacing: 0.7px;
  height: 35px;
  width: 210px;
  font-size: large;
  outline: none;
  text-align: center;
  border: 1px solid rgba(22, 76, 167, 0.6);
}

button {
  text-transform: uppercase;
  height: 40px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  margin-top: 20px;
}

button {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  color: #ffffff;
  font-weight: bold;
  background-color: #164ca7;
}